@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-orange-50/30 text-slate-900 min-h-screen;
}

* {
  @apply border-slate-200;
}